<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天气数据查询</title>
    <link rel="stylesheet" href="//unpkg.com/element-ui@2.14.0/lib/theme-chalk/index.css">

    <style>
        .el-header, .el-footer {
            color: #333;
            text-align: center;
            line-height: 60px;
        }
        .el-aside {
            color: #333;
            text-align: center;

        }

        .el-main {
            color: #333;
            text-align: center;
            line-height: 40px;

        }


    </style>
</head>
<body>

<div id="bigblock" >

    <el-container>
        <el-header height:160px>
            <el-row>
                <el-col :span="4"><i class="el-icon-pie-chart" size="medium" ></i></el-col>
                <el-col :span="14" >WeatherDataView</el-col>
            </el-row>
        </el-header>
        <el-container>
            <el-aside width="250px" >
                <el-row class="tac">

                    <el-col :span="24">
                        <h5> 操作决定 </h5>
                        <el-menu
                                default-active="1"
                                class="el-menu-vertical-demo">
                            <el-menu-item index="1" value="1" v-on:click="mod=1" >
                                <i class="el-icon-search"></i>
                                <span slot="title">天气查询{{mod}}</span>
                            </el-menu-item>
                            <el-submenu index="2" >
                                <template slot="title">
                                    <i class="el-icon-data-line"></i>
                                    <span slot="title">数据对比</span>
                                </template>
                                <el-menu-item-group>
                                    <el-menu-item index="2-1" v-on:click="mod=2">城际对比</el-menu-item>
                                    <el-menu-item index="2-2" v-on:click="mod=3">纵向对比</el-menu-item>
                                </el-menu-item-group>
                            </el-submenu>
                        </el-menu>
                    </el-col>
                </el-row>
            </el-aside>
            <template v-if="mod==1">
                <el-main>
                    {{date}}
                    <el-row>
                        <el-col :span="18">
                            <el-form :inline="true"  class="demo-form-inline" >
                                <el-form-item label="选择城市">
                                    <el-select v-model="citydata" placeholder="选择城市">
                                        <el-option v-for="city in cities"
                                                   v-bind:label="city" v-bind:value="city">
                                        </el-option>

                                    </el-select>
                                </el-form-item>
                                <el-form-item label="选择年份">
                                    <el-select v-model="yeardata" placeholder="选择年份">
                                        <el-option v-for="year in years"
                                                   v-bind:label="year" v-bind:value="year">
                                        </el-option>

                                    </el-select>
                                </el-form-item>
                                <el-form-item label="选择月份">
                                    <el-select v-model="monthdata" placeholder="选择月份">
                                        <el-option v-for="month in months"
                                                   v-bind:label="month" v-bind:value="month">
                                        </el-option>

                                    </el-select>
                                </el-form-item>
                                <el-form-item label="选择日期" >

                                    <el-date-picker
                                            v-model="date" type="date"
                                            placeholder="选择日期">
                                    </el-date-picker>
                                </el-form-item>

                                <el-form-item>
                                    <el-button type="primary" @click="require">查询</el-button>
                                </el-form-item>
                            </el-form>
                        </el-col>
                    </el-row>

                    <el-table
                            :data="tableData"
                            style="width: 75%"
                            :default-sort = "{prop: 'date', order: 'descending'}"
                    >
                        <el-table-column
                                prop="date"
                                label="日期"
                                sortable
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="cityname"
                                label="城市"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="maxtemp"
                                label="最高温度"
                                sortable
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="mintemp"
                                label="最低温度"
                                sortable
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="wea"
                                label="天气"
                                width="180">
                        </el-table-column>
                    </el-table>
                </el-main>
            </template>
            <template v-if="mod==2">
                <el-main>

                    <el-row>
                        <el-col :span="18">

                            <el-form :inline="true"  class="demo-form-inline" >
                                <el-form-item label="选择城市1">
                                    <el-select v-model="citydata" placeholder="选择城市">
                                        <el-option v-for="city in cities"
                                                   v-bind:label="city" v-bind:value="city">
                                        </el-option>

                                    </el-select>
                                </el-form-item>
                                <el-form-item label="选择城市2">
                                    <el-select v-model="citydata2" placeholder="选择城市">
                                        <el-option v-for="city in cities"
                                                   v-bind:label="city" v-bind:value="city">
                                        </el-option>

                                    </el-select>
                                </el-form-item>
                                <el-form-item label="选择年份">
                                    <el-select v-model="yeardata" placeholder="选择年份">
                                        <el-option v-for="year in years"
                                                   v-bind:label="year" v-bind:value="year">
                                        </el-option>

                                    </el-select>
                                </el-form-item>
                                <el-form-item label="选择月份">
                                    <el-select v-model="monthdata" placeholder="选择月份">
                                        <el-option v-for="month in months"
                                                   v-bind:label="month" v-bind:value="month">
                                        </el-option>

                                    </el-select>
                                </el-form-item>

                                <el-form-item>
                                    <el-button type="primary" @click="require">查询</el-button>
                                </el-form-item>
                            </el-form>
                        </el-col>
                    </el-row>

                    <el-table
                            :data="tableData"
                            style="width: 75%"
                            :default-sort = "{prop: 'date', order: 'descending'}"
                    >
                        <el-table-column
                                prop="date"
                                label="日期"
                                sortable
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="cityname"
                                label="城市"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="maxtemp"
                                label="最高温度"
                                sortable
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="mintemp"
                                label="最低温度"
                                sortable
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="wea"
                                label="天气"
                                width="180">
                        </el-table-column>
                    </el-table>
                </el-main>
            </template>
            <template v-if="mod==3">
                <el-main>

                    <el-row>
                        <el-col :span="18">

                            <el-form :inline="true"  class="demo-form-inline" >
                                <el-form-item label="选择城市">
                                    <el-select v-model="citydata" placeholder="选择城市">
                                        <el-option v-for="city in cities"
                                                   v-bind:label="city" v-bind:value="city">
                                        </el-option>

                                    </el-select>
                                </el-form-item>

                                <el-form-item label="选择月份">
                                    <el-select v-model="monthdata" placeholder="选择月份">
                                        <el-option v-for="month in months"
                                                   v-bind:label="month" v-bind:value="month">
                                        </el-option>

                                    </el-select>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="require">查询</el-button>
                                </el-form-item>
                            </el-form>
                        </el-col>
                    </el-row>

                    <el-table
                            :data="tableData"
                            style="width: 75%"
                            :default-sort = "{prop: 'date', order: 'descending'}"
                    >
                        <el-table-column
                                prop="date"
                                label="日期"
                                sortable
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="city"
                                label="城市"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="maxtemp"
                                label="最高温度"
                                sortable
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="mintemp"
                                label="最低温度"
                                sortable
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="wea"
                                label="天气"
                                width="180">
                        </el-table-column>
                    </el-table>
                </el-main>
            </template>


        </el-container>
    </el-container>
</div>




<script src="vue.js"></script>
<script src="//unpkg.com/element-ui@2.14.0/lib/index.js"></script>
<script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>
<script src="axios.min.js"></script>
<script>


    let datatest = {cityname: "北京",year: "2018",month: "12"}
    let paramtest = new URLSearchParams()
    paramtest.append('cityname', '北京')
    paramtest.append('year', '2018')
    paramtest.append('month', '12')

    // axios({
    //     headers: {
    //         'deviceCode': 'A95ZEF1-47B5-AC90BF3'
    //     },
    //     methods: 'post',
    //     url: '/getbyn_y_m',
    //     data: Qs.stringify(datatest)
    //     })
    //     .then(function (response) {
    //         let data = response.data;
    //         vm.tableData = data;
    //         console.log(response);
    //     })
    let vm= new Vue({
        el: '#bigblock',
        data: {
            searchbymonth:{cityname: "北京",year: "2018",month: "12"},
            searchresult: [{place: '武汉', year: '2015', htemp: 15, ltemp: -2, weather: '晴'}],
            cities: ['武汉'],
            citydata: '',
            citydata2: '',
            years: ['不选', 2015, 2016, 2017, 2018, 2019],
            yeardata: '',
            months: ['不选', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
            monthdata: '',
            mod: 1,
            date: '',
            datatest:{cityname: "北京",year: "2018",month: "12"},
            tableData: [{
                date: '2',
                cityname: "2",
                maxtemp: '2',
                mintemp: '2',
                wea: '2'

            }, {
                date: '2',
                city: "2",
                htemp: '2',
                ltemp: '2',
                weather: '2'
            }]
        },
        methods: {


            //查询某年的每一天的天气
            requirebyyear: function () {
                axios.post('/getbyn_y', {cityname: this.city,year: this.yeardata})
                    .then(function (response) {
                        let data = response.data;
                        vm.tableData = data;
                    })

            },

            //查询某月的每一天的天气
            requirebymonth: function () {
                console.log(this.searchbymonth),
                axios.post('/getbyn_y_m', '')
                    .then(function (response) {
                        let data = response.data;
                        vm.tableData = data;
                        console.log(response);
                    })

            },

            //查询某天的天气
            requirebydate: function () {
                let y=this.date.getFullYear(); //获取完整的年份(4位,1970-????)
                let m=this.date.getMonth()+1; //获取当前月份(0-11,0代表1月)
                let d=this.date.getDate(); //获取当前日(1-31)
                this.date=this.date.format("yyyyMMdd");
                axios.post('/getbyn_y_m_d', this.datatest)
                    .then(function (response) {
                        let data = response.data;
                        vm.tableData = response.data
                    })

            },


            require: function () {

                if (this.date) {
                    this.monthdata = '不选';
                    this.yeardata = '不选';
                    this.requirebydate();

                } else if (this.monthdata && this.yeardata) {
                    this.requirebymonth();


                } else if (this.yeardata) {
                    this.requirebyyear();
                } else if(this.month){
                    this.yeardata=2015;
                    this.requirebymonth();
                }else {
                    alert("请选择要查询的数据")
                }
                // if(this.monthdata||this.yeardata){
                //     this.data="";
                // }


            },



        },
        created: function () {
            axios.post('/getCityname')
                .then(function (response) {
                    let data = response.data;
                    vm.cities = data;

                })
                .catch(response => {
                })

        }
    })



</script>
</body>
</html>