<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天气数据查询</title>
    <link rel="stylesheet" href="//unpkg.com/element-ui@2.14.0/lib/theme-chalk/index.css">
    <style>
        .el-header, .el-footer {
            color: #333;
            text-align: center;
            line-height: 60px;
        }
        .el-aside {
            color: #333;
            text-align: center;
        }
        .el-main {
            color: #333;
            text-align: center;
            line-height: 40px;
        }
    </style>
</head>
<body>

<div id="bigblock" >
    <el-container>
        <el-header height:160px>
            <el-row>
                <el-col :span="4"><i class="el-icon-pie-chart" size="medium" ></i></el-col>
                <el-col :span="15" >WeatherDataView</el-col>
            </el-row>
        </el-header>
        <el-container>
            <el-aside  width="250px">
                <el-row class="tac">
                    <el-col :span="24">
                        <h5> 操作决定 </h5>
                        <el-menu
                                default-active="1"
                                class="el-menu-vertical-demo">
                            <el-submenu index="1"  value="1">
                                <template slot="title">
                                    <i class="el-icon-search"></i>
                                    <span slot="title">天气查询</span>
                                </template>
                                <el-menu-item index="1-1" v-on:click="mod=1">日期查询</el-menu-item>
                                <el-menu-item index="1-2" v-on:click="mod=2">平均气温查询</el-menu-item>
                            </el-submenu>
                            <el-submenu index="2" >
                                <template slot="title">
                                    <i class="el-icon-data-line"></i>
                                    <span slot="title">数据对比</span>
                                </template>
                                <el-menu-item-group>
                                    <el-menu-item index="2-1" v-on:click="mod=3">城际对比</el-menu-item>
                                    <el-menu-item index="2-2" v-on:click="mod=4">同期对比</el-menu-item>
                                    <el-menu-item index="2-3" v-on:click="mod=5">平均气温对比</el-menu-item>
                                </el-menu-item-group>
                            </el-submenu>

                        </el-menu>
                    </el-col>
                </el-row>
            </el-aside>
            <el-main v-if="mod==1">
                    <el-row>
                        <el-col :span="18">
                            <el-form :inline="true"  class="demo-form-inline" >
                                <el-form-item label="选择城市">
                                    <el-select v-model="citydata" placeholder="选择城市">
                                        <el-option v-for="c in cities2"
                                                   v-bind:label="c" v-bind:value="c">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="选择日期" >
                                    <el-date-picker
                                            v-model="datedata" type="date"
                                            placeholder="选择日期">
                                    </el-date-picker>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="require1">查询</el-button>
                                </el-form-item>
                            </el-form>
                        </el-col>
                    </el-row>

                    <el-table
                            :data="OneData"
                            style="width: 75%"
                    >
<!--                            :default-sort = "{prop: 'date', order: 'descending'}"-->
                        <el-table-column
                                prop="date"
                                label="日期"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="cityname"
                                label="城市"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="maxtemp"
                                label="最高温度"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="mintemp"
                                label="最低温度"
                                sortable
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="wea"
                                label="天气"
                                width="180">
                        </el-table-column>
                    </el-table>
                </el-main>
            <el-main v-if="mod==2">
                <el-row>
                    <el-col :span="18">
                        <el-form :inline="true"  class="demo-form-inline" >
                            <el-form-item label="时间周期">
                                <el-select v-model="periodata" placeholder="选择时间">
                                    <el-option v-for="t in period"
                                               v-bind:label="t.show" v-bind:value="t.val">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="require2">查询</el-button>
                            </el-form-item>
                        </el-form>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :offset="6" :span="17">
                        <el-table   id="b"
                                                   :data="tableData"
                                                   style="width: 75%;"
                                                   :default-sort = "{prop: 'temp', order: 'descending'}"
                    >
                        <el-table-column
                                prop="city"
                                label="城市"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="temp"
                                label="平均温度"
                                sortable
                                width="180">
                        </el-table-column>
                    </el-table>
                    </el-col>

                </el-row>
            </el-main>
            <template v-if="mod==3">
                <el-main>
                    <el-row>
                        <el-col :span="18">

                            <el-form :inline="true"  class="demo-form-inline" >
                                <el-form-item label="选择城市1">
                                    <el-select v-model="citydata" placeholder="选择城市">
                                        <el-option v-for="c in cities"
                                                   v-bind:label="c.city" v-bind:value="c.city_id">
                                        </el-option>

                                    </el-select>
                                </el-form-item>
                                <el-form-item label="选择城市2">
                                    <el-select v-model="citydata2" placeholder="选择城市">
                                        <el-option v-for="c in cities"
                                                   v-bind:label="c.city" v-bind:value="c.city_id">
                                        </el-option>

                                    </el-select>
                                </el-form-item>
                                <el-form-item label="选择年份">
                                    <el-select v-model="yeardata" placeholder="选择年份">
                                        <el-option v-for="year in years"
                                                   v-bind:label="year" v-bind:value="year">
                                        </el-option>

                                    </el-select>
                                </el-form-item>
                                <el-form-item label="选择月份">
                                    <el-select v-model="monthdata" placeholder="选择月份">
                                        <el-option v-for="month in months"
                                                   v-bind:label="month" v-bind:value="month">
                                        </el-option>

                                    </el-select>
                                </el-form-item>

                                <el-form-item>
                                    <el-button type="primary" @click="require3">查询</el-button>
                                </el-form-item>
                            </el-form>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :offset="1" :span="18">
                            <el-divider></el-divider>
                            <div id="chartdiv" style="width: 800px;height: 400px;"></div>
                        </el-col>
                    </el-row>

                </el-main>
            </template>
            <template v-if="mod==4">
                <el-main>

                    <el-row>
                        <el-col :span="18">

                            <el-form :inline="true"  class="demo-form-inline" >
                                <el-form-item label="选择城市">
                                    <el-select v-model="citydata" placeholder="选择城市">
                                        <el-option  v-for="c in cities"
                                                   v-bind:label="c.city" v-bind:value="c.city_id">
                                        </el-option>

                                    </el-select>
                                </el-form-item>

                                <el-form-item label="选择月份">
                                    <el-select v-model="monthdata" placeholder="选择月份">
                                        <el-option v-for="month in months"
                                                   v-bind:label="month" v-bind:value="month">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="require4">查询</el-button>
                                </el-form-item>
                            </el-form>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :offset="1" :span="18">
                            <el-divider></el-divider>
                            <div id="chartdiv2" style="width: 800px;height: 450px;"></div>
                        </el-col>
                    </el-row>
                </el-main>
            </template>
            <el-main v-if="mod==5">
                    <el-row>
                        <el-col :span="18">
                            <el-form :inline="true"  class="demo-form-inline" >
                                <el-form-item label="选择城市1">
                                    <el-select v-model="citydata"  placeholder="选择城市">
                                        <el-option  v-for="c in cities"
                                                   v-bind:label="c.city" v-bind:value="c.city_id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="选择城市2">
                                    <el-select v-model="citydata2" placeholder="选择城市">
                                        <el-option v-for="c in cities"
                                                   v-bind:label="c.city" v-bind:value="c.city_id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>

                                <el-form-item label="时期选择">
                                    <el-select v-model="periodata2" placeholder="选择时间">
                                        <el-option v-for="t in period"
                                                   v-bind:label="t.show" v-bind:value="t.val">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="require5">查询</el-button>
                                </el-form-item>
                            </el-form>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :offset="1" :span="18">
                            <el-divider></el-divider>
                            <div id="chartdiv3" style="width: 800px;height: 450px;"></div>
                         </el-col>
                    </el-row>
            </el-main>
        </el-container>
    </el-container>
</div>

<script src="vue.js"></script>
<script src="//unpkg.com/element-ui@2.14.0/lib/index.js"></script>
<script src="echarts.min.js"></script>
<script src="axios.min.js"></script>
<script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>
<script>
    let option2 =       {
        title: {
            text: this.citydata,
            subtext: this.monthdata + '月',
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['最高气温', '最低气温']
        },
        toolbox: {
            show: true,
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: {readOnly: false},
                magicType: {type: ['line', 'bar']},
                restore: {},
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: '{value} °C'
            }
        },
        series: [
            {
                name: '最高气温',
                type: 'line',
                data: [11, 11, 15, 13, 12, 13, 10],
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            },
            {
                name: '最低气温',
                type: 'line',
                data: [1, -2, 2, 5, 3, 2, 0],
                markPoint: {
                    data: [
                        {name: '周最低', value: -2, xAxis: 1, yAxis: -1.5}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'},
                        [{
                            symbol: 'none',
                            x: '90%',
                            yAxis: 'max'
                        }, {
                            symbol: 'circle',
                            label: {
                                position: 'start',
                                formatter: '最大值'
                            },
                            type: 'max',
                            name: '最高点'
                        }]
                    ]
                }
            }
        ]
    };
    let option = {
        title: {
            text: this.citydata + '与' + this.citydata2 + "对比",
            subtext: this.yeardata + "年" + this.monthdata + '月',
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['最高气温', '最低气温']
        },
        toolbox: {
            show: true,
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: {readOnly: false},
                magicType: {type: ['line', 'bar']},
                restore: {},
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: '{value} °C'
            }
        },
        series: [
            {
                name: '最高气温',
                type: 'line',
                data: [11, 11, 15, 13, 12, 13, 10],
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            },
            {
                name: '最低气温',
                type: 'line',
                data: [1, -2, 2, 5, 3, 2, 0],
                markPoint: {
                    data: [
                        {name: '周最低', value: -2, xAxis: 1, yAxis: -1.5}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'},
                        [{
                            symbol: 'none',
                            x: '90%',
                            yAxis: 'max'
                        }, {
                            symbol: 'circle',
                            label: {
                                position: 'start',
                                formatter: '最大值'
                            },
                            type: 'max',
                            name: '最高点'
                        }]
                    ]
                }
            }
        ]
    };
   let vm= new Vue({
       el: '#bigblock',
       data: {
           cities2:[],
           cities: [],
           citydata: '',
           citydata2: '',
           templist:['',''],
           years: ['不选', 2015, 2016, 2017, 2018, 2019],
           yeardata: '不选',
           months: ['不选', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
           monthdata: '不选',
           mod: 1,
           datedata: '',
           period:[{show:'近五年', val:5},{show:'近十年', val:10},{show:'近十五年', val:15}],
           periodata:'',
           periodata2:"",
           OneData:[{date:'',
               cityname: "",
               maxtemp: '',
               mintemp: '',
               wea: ''}],
           tableData: [],
           chartdata1:[{city:"",temp:""},{city:"",temp:""}],
       },
       methods: {
           //查询某天的天气
           requirebydate: function () {
               let date1 = new Date(this.datedata);
               let y = date1.getFullYear(); //获取完整的年份(4位,1970-????)
               let m = date1.getMonth() + 1; //获取当前月份(0-11,0代表1月)
               let d = date1.getDate(); //获取当前日(1-31)
               axios.post('./data.json', {cityname: this.citydata, year: y, month: m, day: d})
                   .then(function (response) {
                       let data = response.data;
                       vm.tableData = response.data;
                       console.log(response);
                   })
           },
           require1: function () {
               //this.tableData[0].date='2018/12/03';
               //alert(this.tableData[0].date);
               if (!this.citydata) {
                   alert('请选择城市')
               } else {
                   if (this.datedata) {
                       let date1 = new Date(this.datedata);
                       let y = date1.getFullYear().toString(); //获取完整的年份(4位,1970-????)
                       let m = (date1.getMonth() + 1).toString(); //获取当前月份(0-11,0代表1月)
                       let d = date1.getDate().toString(); //获取当前日(1-31)
                       axios.post( "/getbyn_y_m_d",Qs.stringify({cityname: this.citydata, year: y, month: m, day: d}))
                           .then(function (response) {
                           let data = response.data;
                           vm.OneData = data;
                           vm.OneData[0].date=y+"/"+m+'/'+d;
                           // console.log(response);
                           // console.log(response.data);
                           // console.log(response.data[0]);
                           })
                   } else {
                       alert("请选择要查询的时期")
                   }
               }
           },
           //mod==2
           require2: function(){
               switch (vm.periodata) {
                    case 5:
                        axios.post('/getAllavgtemps').then(function (response) {
                            vm.tableData=[];
                            let data = response.data.tem_avgs;
                            for(let i=0;data[i]!=null;i++){
                                vm.tableData.push({"city":data[i].cityname,"temp":data[i].avg5});
                            }
                        });
                        break;
                    case 10:
                        axios.post('/getAllavgtemps').then(function (response) {
                            vm.tableData=[];
                            let data = response.data.tem_avgs;
                            for(let i=0;data[i]!=null;i++){
                                vm.tableData.push({"city":data[i].cityname,"temp":data[i].avg10});
                            }
                        });
                        break;
                    case 15:
                        axios.post('/getAllavgtemps').then(function (response) {
                            vm.tableData=[];
                            let data = response.data.tem_avgs;
                            for(let i=0;data[i]!=null;i++){
                                vm.tableData.push({"city":data[i].cityname,"temp":data[i].avg15});
                            }
                        });
                        break;
                    case 1:
                        ;
               }
           },

           //mod==3时按钮的操作
           require3: function () {
               if (this.citydata == this.citydata2) {
                   alert('请选择不同的城市')
               }
               //mychart2.clear();
               let mychart1 = echarts.init(document.querySelector('#chartdiv'))
               //mychart2.clear();
               // let option = {
               //     title: {
               //         text: this.citydata + '与' + this.citydata2 + "对比",
               //         subtext: this.yeardata + "年" + this.monthdata + '月',
               //     },
               //     tooltip: {
               //         trigger: 'axis'
               //     },
               //     legend: {
               //         data: ['最高气温', '最低气温']
               //     },
               //     toolbox: {
               //         show: true,
               //         feature: {
               //             dataZoom: {
               //                 yAxisIndex: 'none'
               //             },
               //             dataView: {readOnly: false},
               //             magicType: {type: ['line', 'bar']},
               //             restore: {},
               //             saveAsImage: {}
               //         }
               //     },
               //     xAxis: {
               //         type: 'category',
               //         boundaryGap: false,
               //         data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
               //     },
               //     yAxis: {
               //         type: 'value',
               //         axisLabel: {
               //             formatter: '{value} °C'
               //         }
               //     },
               //     series: [
               //         {
               //             name: '最高气温',
               //             type: 'line',
               //             data: [11, 11, 15, 13, 12, 13, 10],
               //             markPoint: {
               //                 data: [
               //                     {type: 'max', name: '最大值'},
               //                     {type: 'min', name: '最小值'}
               //                 ]
               //             },
               //             markLine: {
               //                 data: [
               //                     {type: 'average', name: '平均值'}
               //                 ]
               //             }
               //         },
               //         {
               //             name: '最低气温',
               //             type: 'line',
               //             data: [1, -2, 2, 5, 3, 2, 0],
               //             markPoint: {
               //                 data: [
               //                     {name: '周最低', value: -2, xAxis: 1, yAxis: -1.5}
               //                 ]
               //             },
               //             markLine: {
               //                 data: [
               //                     {type: 'average', name: '平均值'},
               //                     [{
               //                         symbol: 'none',
               //                         x: '90%',
               //                         yAxis: 'max'
               //                     }, {
               //                         symbol: 'circle',
               //                         label: {
               //                             position: 'start',
               //                             formatter: '最大值'
               //                         },
               //                         type: 'max',
               //                         name: '最高点'
               //                     }]
               //                 ]
               //             }
               //         }
               //     ]
               // };
               mychart1.setOption(option);
           },

           //mod==4时按钮的操作
           require4: function () {
               let mychart2 = echarts.init(document.querySelector('#chartdiv2'))
               // mychart1.clear();
               let option2 = {
                   title: {
                       text: this.citydata,
                       subtext: this.monthdata + '月',
                   },
                   tooltip: {
                       trigger: 'axis'
                   },
                   legend: {
                       data: ['最高气温', '最低气温']
                   },
                   toolbox: {
                       show: true,
                       feature: {
                           dataZoom: {
                               yAxisIndex: 'none'
                           },
                           dataView: {readOnly: false},
                           magicType: {type: ['line', 'bar']},
                           restore: {},
                           saveAsImage: {}
                       }
                   },
                   xAxis: {
                       type: 'category',
                       boundaryGap: false,
                       data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                   },
                   yAxis: {
                       type: 'value',
                       axisLabel: {
                           formatter: '{value} °C'
                       }
                   },
                   series: [
                       {
                           name: '最高气温',
                           type: 'line',
                           data: [12, 13, 10],
                           markPoint: {
                               data: [
                                   {type: 'max', name: '最大值'},
                                   {type: 'min', name: '最小值'}
                               ]
                           },
                           markLine: {
                               data: [
                                   {type: 'average', name: '平均值'}
                               ]
                           }
                       },
                       {
                           name: '最低气温',
                           type: 'line',
                           data: [1, -2, 2, 5, 3, 2, 0],
                           markPoint: {
                               data: [
                                   {name: '周最低', value: -2, xAxis: 1, yAxis: -1.5}
                               ]
                           },
                           markLine: {
                               data: [
                                   {type: 'average', name: '平均值'},
                                   [{
                                       symbol: 'none',
                                       x: '90%',
                                       yAxis: 'max'
                                   }, {
                                       symbol: 'circle',
                                       label: {
                                           position: 'start',
                                           formatter: '最大值'
                                       },
                                       type: 'max',
                                       name: '最高点'
                                   }]
                               ]
                           }
                       }
                   ]
               };
               mychart2.setOption(option2);
           },

           //mod==5
           require5: function(){
               switch (vm.periodata2) {
                   case 5:
                       axios.all([axios.post('/getavgby5years',{'cityid': vm.citydata}),
                           axios.post('/getavgby5years',{'cityid': vm.citydata2})])
                       .then(axios.spread(function (temp1,temp2) {
                                vm.templist[0]=temp1.data;
                                vm.templist[1]=temp2.data;
                                console.log(vm.templist)
                       }));
                       break;
                   case 10:
                       axios.all([axios.post('/getavgby10years',{'cityid': vm.citydata}),
                           axios.post('/getavgby10years',{'cityid': vm.citydata2})])
                           .then(axios.spread(function (temp1,temp2) {
                               vm.templist[0]=temp1.data;
                               vm.templist[1]=temp2.data;
                               console.log(vm.templist)
                           }));
                       break;
                   case 15:
                       axios.all([axios.post('/getavgby15years',{'cityid': vm.citydata}),
                           axios.post('/getavgby15years',{'cityid': vm.citydata2})])
                           .then(axios.spread(function (temp1,temp2) {
                               vm.templist[0]=temp1.data;
                               vm.templist[1]=temp2.data;
                               console.log(vm.templist)
                           }));
                       break;
                   case 1:
                       ;}


                    let cityname1='';
                    let cityname2='';
                    console.log(vm.templist[0]);
                for (var i=0;i<vm.cities.length;i++)
                 {
                      if(vm.cities[i].city_id==vm.citydata){
                          cityname1=vm.cities[i].city;
                      }else if(vm.cities[i].city_id==vm.citydata2){
                          cityname2=vm.cities[i].city;
                      }
                 }
                       let option3 = {
                           title: {
                               text: cityname1 + '与' + cityname2 + "对比",
                               subtext: "近"+vm.periodata2+"年",
                           },
                           tooltip: {
                               trigger: 'axis'
                           },
                           legend: {
                               data: ['平均气温']
                           },
                           toolbox: {
                               show: true,
                               feature: {
                                   dataZoom: {
                                       yAxisIndex: 'none'
                                   },
                                   dataView: {readOnly: false},
                                   magicType: {type: ['line', 'bar']},
                                   restore: {},
                               }
                           },
                           xAxis: {
                               type: 'category',
                               boundaryGap: false,
                               data: [cityname1,cityname2]
                           },
                           yAxis: {
                               type: 'value',
                               axisLabel: {
                                   formatter: '{value} °C'
                               }
                           },
                           series: [
                               {
                                   name: '平均气温',
                                   type: 'line',
                                   data: [vm.templist[0].tem_avg,vm.templist[1].tem_avg],
                                   markPoint: {
                                       data: [
                                           {type: 'max', name: '最大值'},
                                           {type: 'min', name: '最小值'}
                                       ]
                                   },
                                   markLine: {
                                       data: [
                                           {type: 'average', name: '平均值'}
                                       ]
                                   }
                               },
                           ]
                       };
                       let mychart3 = echarts.init(document.querySelector('#chartdiv3'));
                       mychart3.setOption(option3);

           },


           datainit: function () {
               // alert('函数测试')
               this.citydata = '';
               this.citydata2 = '';
               this.yeardata = '不选';
               this.monthdata = '不选';
               this.datedata = '';
               //myChart.clear();
           }
       } ,
           created: function () {
               axios.post('/getCitynameAndid')
                   .then(function (response) {
                       let data = response.data;
                       vm.cities = data;

                   })
                   .catch(response => {
                   })
               axios.post('/getCityname')
                   .then(function (response) {
                       let data = response.data;
                       vm.cities2 = data;

                   })

           }
   })

</script>
</body>
</html>